<section class= "registro">


<div class="container text-center">
  <div class="row">


        <h1>Cuéntanos sobre ti</h1>

        <p>Contesta las siguientes preguntas con la mayor sinceridad. No hay respuestas correctas ni equivocadas, sólo queremos conocerte lo mejor posible para encontrar la mejor forma de trabajar juntos.</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>


                <h2>Datos personales</h2>

              <div class="parte1">
                <div class="field">
                  <%= f.label :username, '¿Queremos saber cuál es tu nombre?' %>
                  <%= f.text_field :username%>

                  <%= f.label :birthdate, 'Tu fecha de nacimiento' %>
                  <%= date_select :birthday, "birthday",start_year: 1920, end_year: 2016,class: "form-control" %>

                <%= label_tag :sex_sel, '¿Cuál es tu género?' %>
                <form action="demo_form.asp" method="get">
                <img src=".png">
                    <input type="radio" name="sexo" value="Masculino">
                <img src="login.png">
                    <input type="radio" name="sexo"value="Femenino" checked><br>
                </form>


                </div>
              </div>
               

                
             <div class="parte2">
                <div class="field">
                  <%= f.label :ocupation, '¿Actualmente a qué te dedicas?' %><br />
                  
                  <input type="image" name="ocupation" src="cross.png"/> Estudiante universitario
                  <input type="image" name="ocupation" src="trabajocomoempleado.png"/> Trabajo como empleado
                  <input type="image" name="ocupation" src="estudioytrabajoempleado.png"/> Estudio y trabajo como empleado
                  <input type="image" name="ocupation"  src="soyindependiente.png"/> Soy independiente
                  <input type="image" name="ocupation" src="soyama(o)decasa.png"/> Soy ama (o) de casa
                  <input type="image" name="ocupation" src="notrabajoniestudio.png"/> No trabajo ni estudio

                
                </div>
            </div>


            <div class="parte3">
                <div class="field">
                  <%= f.label :looking_for_employee, '¿Qué estás buscando como trabajador?' %><br />
                  <%= f.text_field :looking_for_employee %>
                </div>

                <div class="field">
                  <%= f.label :looking_for_independent, '¿Qué estás buscando como independiente?' %><br />
                  <%= f.text_field :looking_for_independent %>
                </div>
            </div>









                <div class="field">
                  <%= f.label :experience, '¿Cuéntanos sobre tu experiencia trabajador?' %><br />
                  <%= f.text_field :experience %>
                </div>

                <div class="field">
                  <%= f.label :would_work, '¿Cómo te gustaría trabajar?' %><br />
                  <%= f.text_field :would_work %>
                </div>

                 <div class="field">
                  <%= f.label :jobs_made, '¿Qué tipo de trabajos has realizado?' %><br/>
                  <%= f.text_field :jobs_made %>
                </div>

                 <div class="field">

                 <div class=introductionquestion>
                 <span>Queremos contactarnos contigo</span> <br/>
                </div>

                        <!-- sheepIt Form -->
                <div id="sheepItForm">
                 
                <%= f.label :phone_contact, 'Celular' %><%= f.text_field :phone_contact %>

                  <!-- Form template-->
                  <div id="sheepItForm_template">

                    <label for="sheepItForm_#index#_phone">Teléfono<span id="sheepItForm_label"></span></label>
                    <input id="sheepItForm_#index#_phone" name="person[phones][#index#][phone]" type="text" size="15" maxlength="10" />
                    <a id="sheepItForm_remove_current">
                      <img class="delete" src="/images/cross.png" width="16" height="16" border="0">
                    </a>
                  </div>
                  <!-- /Form template-->
                   
                  <!-- No forms template -->
                  <div id="sheepItForm_noforms_template">No tengo más números de teléfonos</div>
                  <!-- /No forms template-->
                   
                  <!-- Controls -->
                  <div id="sheepItForm_controls">
                    <div id="sheepItForm_add"><a><span>Adicionar número de teléfono</span></a></div>
                    <div id="sheepItForm_remove_last"><a><span>Eliminar</span></a></div>
                    <div id="sheepItForm_remove_all"><a><span>Eliminar todos los registro</span></a></div>
                    <div id="sheepItForm_add_n">
                             
                  </div>
                  <!-- /Controls -->
                   
                </div>
                <!-- /sheepIt Form -->

                </div>

                <div class="field">
                  <%= f.label :email, 'Correo electrónico' %><br/>
                  <%= f.email_field :email, autofocus: true %>
                </div>



                 <div class="field">
                 <div class=introductionquestion>
                 <p>Un liker trabaja desde donde quiere, queremos saber cómo es ese lugar</p><br/>
                 </div>
                  <%= f.label :type_computer, '¿Qué tipo de computador tienes?' %><br />
                  <%= f.text_field :type_computer %>
                </div>

                 <div class="field">
                  <%= f.label :use_computer, '¿Quién usa el equipo normalmente?' %><br />
                  <%= f.text_field :use_computer %>
                </div>

                  <div class="field">
                  <%= f.label :connection_internet, 'Tu conexión de internet es de' %><br />
                  <%= f.text_field :connection_internet %>
                  </div>

                <div class="field">
                  <%= f.label :computer_accessories, '¿Puedes hablar desde tu computador?' %><br />
                  <%= f.text_field :computer_accessories %>
                </div>

                <div class="field">
                
                <div class=introductionquestion>
                <p>Ahora imagina por un momento que estás trabajando desde el lugar que elegiste.
                </p><br />
                </div>

                  <%= f.label :comfort, '¿Qué tan cómodo crees que sería para trabajar, entendiendo que debes hablar con personas a través de tu computador? (Ten en cuenta el entorno, las distracciones, el riudo, la temperatura, las interrupciones, etc).' %><br />
                  <%= f.text_field :comfort%>
                </div>

                <div class="field">
                  <%= f.label :being, '¿Cómo eres?' %><br />
                  <p> Sé honesto contigo, hay cosas de ti que a lo mejor no te habías cuestionado. Recuerda que no hay respuestas correctas ni equivocadas, sólo queremos conocerte lo mejor posible para encontrar la mejor forma de trabajar juntos.</p><br/>
                  <%= f.text_field :being%>
                </div>

                <div class="field">
                  <%= f.label :do, '¿Cómo te gusta hacer las cosas?' %><br />
                  <p> Sé honesto contigo, hay cosas de ti que a lo mejor no te habías cuestionado. Recuerda que no hay respuestas correctas ni equivocadas, sólo queremos conocerte lo mejor posible para encontrar la mejor forma de trabajar juntos.</p><br/>
                  <span>Arrastra el botón dependiendo de lo inclinado que te sientas por cada concepto.
                  Si crees que estás en un punto medio, puedes dejar el botón en el medio
                  o arrastrarlo solo un poco hacia donde prefieras.</span><br/>
                  <%= f.text_field :do%>
                </div>

                <div class="field">
                  <%= f.label :motivation, 'El podio de lo que más te motiva'%><br />
                  <span>Califica sólo los tres factores que más te importan de la siguiente lista, dándole el número 1 al que más te motiva.</span><br/>
                  <%= f.text_field :motivation%>
                </div>


                <div class="field">
                  <%= f.label :avatar, 'Adjuntar foto de perfil'%><br/>
                  <%= f.file_field :avatar %>
                </div>


                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="actions">
                  <%= f.submit "Enviar registro" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>

  </div>
</div>
</section>